// Adjust gaps for blockgrid in menus

.MainMenu.isActive .icon-right-dir:before { content: '\e80e'; }

.MainMenu-FollowLinks{
	margin: 5px 0;
}


.MainMenu-Presentation{
	display: block;
	@extend .H3Alt;
	font-size: rem-calc(21);
	color: white;
	text-align: center;
	background: $color-primary;
	line-height: $lineHeight-single;
	padding: 16px;
	// Prevents margin collapse on medium-up
	margin: 0;
	margin-bottom: $u;
	transition: all 0.5s;
	&:hover{
		opacity: 0.7;
	}
}

.MainMenu-Toggle{
	position: absolute;
	top: 18px;
	right: 18px;
	cursor: pointer;
	// Stay on top of menu to render clicks
	z-index: 110;
	display: inline-block;
	.IconMenu{
		display: inline-block;
	}
}


// TODO: Could be refacotred with a section color mixin
.MainMenu-Column:nth-child(1) .MainMenu-Presentation{
	background: $red;
}
.MainMenu-Column:nth-child(2) .MainMenu-Presentation{
	background: $blue;
}
.MainMenu-Column:nth-child(3) .MainMenu-Presentation{
	background: $green;
}
.MainMenu-Column:nth-child(4) .MainMenu-Presentation{
	background: $violet;
}



.MainMenu-Level2Item{
	@extend .ParagraphAlt--Small;
	display: block;
}








.MainMenu-SectionsWrap,.MainMenu-Wrap{
	display: none;
}
.js-MainMenu.isActive .MainMenu-Wrap{
	display: block;
}

@media #{$medium-up}{
	.MainMenu-Column{
		float: left;
		width: calc(50% - 18px);
		margin-right: 18px;
	}
	.MainMenu-Wrap{
		margin-right: -18px;
		overflow: hidden;
	}
}
@media #{$large-up}{
	.MainMenu-Column{
		float: left;
		width: 200px;
		margin-right: 18px;
	}
	.js-MainMenu.isActive {
		.MainMenu-SectionsWrap{
			display: block;
		}
	}

	.MainMenu-Wrap{
		display: block;
		margin-left: 70px;
	}

	.MainMenu-ToggleWrap{
		max-width: rem-calc(1200);
		position: relative;
	}
	.MainMenu-Toggle{
		left: 0;
		top: 0;
		right: initial;
	}
}