.MainMenu-Item a{
	display: block;
	@extend .H3Alt;
	color: white;
	padding: 1.5*$u $u;
	margin: 2px 0 !important;
	text-align: center;
	color: white;
	transition: all 0.5s;
}
.MainMenu-Item.current a,.MainMenu-Item.active a{
	text-decoration: underline;
}
.MainMenu-Item:hover a{
	opacity: 0.7;
	text-decoration: underline;
}
.MainMenu .MainMenu-Item:nth-child(1) a{
	background: $red;
}
.MainMenu .MainMenu-Item:nth-child(2) a{
	background: $blue;
}
.MainMenu .MainMenu-Item:nth-child(3) a{
	background: $green;
}
.MainMenu .MainMenu-Item:nth-child(4) a{
	background: $violet;
}

@media #{$small-only}{
	.MainMenu-Item{
		float: none !important;
		margin-top: $u/2;
	}
}