.Media-Body{
}
.Media-Title{
	@extend .H4;
}
.Media-Teaser{
	@extend .ParagraphAlt;
	line-height: 1.3;
}
.Media-Date{
	@extend .Service;
}
.Media-Category{
	@extend .H5;
	display: none;
}
.Media-Image img{
	width: 100%;
}