.Media-Title{
	@extend .H4;
	margin-bottom: $u/2;
}
.Media-Teaser{
	@extend .Paragraph--Small;
	margin-top: $u/2;
	margin-bottom: $u/2;
}
.Media-Date{
	@extend .Paragraph--Small;
	color: $gray--light;
	margin-top: $u/2;
	margin-bottom: $u/2;
}
.Media-Category{
	@extend .H5;
	display: none;
}
.Media-Image img{
	width: 100%;
}
