<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace s=Sfi\Sfi\ViewHelpers}

<f:section name="body">
	<f:render partial="Header" arguments="{_all}"/>

	<div class="SectionLayout">
		<div class="row">
			<div class="large-6 columns">
				<div class="SectionLayout-Title">{title}</div>
				<neos:contentElement.wrap node="{node}">
					<div class="SectionLayout-SubTitle">{neos:contentElement.editable(property: 'subtitle')}</div>
				</neos:contentElement.wrap>
			</div>
		</div>
		<div class="row">
			<div class="columns">
				<div class="SectionLayout-Presentation">
					<ts:render path="content.presentation" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-8 columns">
				<div class="SectionLayout-Content">
					<ts:render path="content.main" />
				</div>			
			</div>
			<div class="large-4 columns">
				{sectionMenu -> f:format.raw()}
				<div class="SectionLayout-Sidebar">
					<ts:render path="content.sidebar" />
				</div>			
			</div>
		</div>
	</div>

	<f:render partial="Footer"  arguments="{_all}"/>
</f:section>