
.H1Alt{
	@extend .H1;
	font-weight: normal !important;
	text-align: center;
}
.H2Alt{
	@extend .H2;
	font-weight: normal !important;
	text-align: center;
}
.H3Alt{
	@extend .H3;
	font-weight: normal !important;
	letter-spacing: 1px;
	color: $gray--dark;
}
.H4Alt{
	@extend .H4;
	font-weight: normal !important;
}

.H5Alt{
	@extend %mainHeadings;
	font-family: $fontFamily-main;
	font-size: rem-calc(18);
	font-weight: normal;
	font-style: italic;
	line-height: 1.3;
	color: $gray--dark;
}
.H6Alt{
	@extend %mainHeadings;
	font-family: $fontFamily-main;
	font-size: rem-calc(16);
	font-weight: normal;
	font-style: italic;
	line-height: 1.3;
	color: $gray--dark;
}