
%mainHeadings{
	margin: $u auto;
	font-family: $fontFamily-alt;
	color: $gray--dark;
	line-height: $lineHeight-tight;
}
.H1{
	@extend %mainHeadings;
	font-size: rem-calc(48);
	font-weight: bold;
}
.H2{
	@extend %mainHeadings;
	font-size: rem-calc(36);
	font-weight: bold;
}
.H3{
	@extend %mainHeadings;
	font-size: rem-calc(24);
	font-weight: bold;
}
.H4{
	@extend %mainHeadings;
	font-size: rem-calc(18);
	font-weight: bold;
}
.H5{
	@extend %mainHeadings;
	font-size: rem-calc(18);
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: 1px;
	color: $gray--dark;
}
.H6{
	@extend %mainHeadings;
	font-size: rem-calc(16);
	font-weight: bold;
	font-style: normal;
}
