.Service {
	@extend .ParagraphAlt;
	text-transform: uppercase;
	font-weight: bold;
}
.Service--Large {
	@extend .Service;
	font-size: rem-calc(18);
}
.Service--Small {
	@extend .Service;
	font-size: rem-calc(12);
}

.ServiceLight {
	@extend .ParagraphAlt;
	text-transform: uppercase;
}
.ServiceTiny {
	@extend .Paragraph;
	font-size: rem-calc(10);
}
.ServiceEm {
	@extend .Paragraph--Small;
	font-style: italic;
}

# TODO: Move me to molecules
.PageTitle {
	@extend .H1Alt;
}
