{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<div class="SitemapMenu js-SitemapMenu">
	<div class="row show-for-large-up">
		<div class="columns">
			<i class="icon-right-dir"></i>
			<div class="[ left ] SitemapMenu-Toggle js-SitemapMenu-Toggle ">
				Карта сайта
			</div>
			<div class="right SitemapMenu-FollowLinks">
				<f:render partial="FollowLinks" />
			</div>
		</div>
	</div>
	<div class="SitemapMenu-SectionsWrap js-SitemapMenu-SectionsWrap">
		<div class="row">
			<div class="columns">
				<div class="hide-for-large-up right SitemapMenu-FollowLinks">
					<f:render partial="FollowLinks" />
				</div>
				<ul class="medium-block-grid-4">
					<f:for each="{items}" as="item" iteration="iterator">
						<li class="SitemapMenu-Sections {f:if(condition:iterator.isLast,then:'end')} {ts:render(path:'{item.state}.attributes.class', context: {item: item}) -> f:format.raw()}" >
							<neos:link.node node="{item.node}" class="SitemapMenu-Presentation"/>
							<f:if condition="{item.subItems}">
								<f:for each="{item.subItems}" as="subItem">
									<neos:link.node node="{subItem.node}" class="SitemapMenu-Section {ts:render(path:'{subItem.state}.attributes.class', context: {item: subItem}) -> f:format.raw()}" />
								</f:for>
							</f:if>
						</li>
					</f:for>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<div class="Header-MenuBorder"></div>
		</div>
	</div>
</div>