.TrusteeSectionTabAnchor{
	padding-right: $u;
	padding-bottom: $u;
	img{
		width: 120px !important;
	}
}

.TrusteeSectionTabAnchor-Image{
	opacity: 0.8;
}
.TrusteeSectionTabAnchor-Image:hover,.Sections-Anchor.isActive .TrusteeSectionTabAnchor-Image{
	opacity: 1;
}


@media #{$small-only}{
	.TextWithImage-Headline{
		display: none;
	}
}
.TrusteeSectionAccordionAnchor{
	margin-bottom: $u;
}
.TrusteeSectionAccordionAnchor-Title{
	@extend .H6;
	margin: 0 !important;
	border-top: 1px solid $gray-line;
	padding-top: $u;
}
.TrusteeSectionAccordionAnchor-SubTitle{
	@extend .ParagraphAlt--Small;
	margin-top: $u/2;
}