.StyleSet-ClassicGrand{
	h1{
		@extend .H1Alt;
	}
	h2{
		@extend .H2Alt;
	}
	h3{
		@extend .H3Alt;
		text-align: center;
	}
	p{@extend .Paragraph;}
	a{@extend .Link;}
}

.StyleSet-ClassicModest{
	h1{
		@extend .H1;
	}
	h2{
		@extend .H3;
	}
	h3{
		@extend .H3Alt;
	}
	h4{
		@extend .H4;
	}
	p{@extend .Paragraph;}
	a{@extend .Link;}
}

.StyleSet-ModernGrand{
	h1{
		@extend .H1Alt;
	}
	h2{
		@extend .H2Alt;
	}
	h3{
		@extend .H3Alt;
	}
	h4{
		@extend .H4;
	}
	p{@extend .ParagraphAlt--Large;}
	a{@extend .Link;}
}

.StyleSet-ModernModest{
	h1{
		@extend .H2;
	}
	h2{
		@extend .H3;
	}
	h3{
		@extend .H3Alt;
	}
	h4{
		@extend .H4;
	}
	p{@extend .ParagraphAlt;}
	a{@extend .Link;}
}

// TODO: Hackish, due to lack of classes in Aloha
.OverrideParagraph p{
	font-family: inherit !important;
	font-size: inherit !important;
}