.WeTeach{
	background: $gray-bg--light;
	margin-bottom: $u;
	.Figure{
		margin: 0;
	}
}
@media #{$medium-up} {
	.WeTeach{
		background-color: white;
	}
}
.WeTeach-Text{
	h3{
		@extend .H2;
	}
	p{
		@extend .ParagraphAlt;
	}
}