$gray--dark: #4d4c4d;
$gray--light: #828282;
$gray-bg: #e7e7e7;
$gray-bg--light: #f7f7f7;
$gray-line: #ccc;

$red: #cd2c31;
$blue: #2daebf;
$green: #82bc00;
$violet: #835f87;


$color-primary: $red;



.color-white{
	color: white !important;
}
.color-primary{
	color: $color-primary !important;
}

.backgroundColor-white{
	background-color: white !important;
}
.borderColor-white{
	border-color: white !important;
}






@mixin colormix($pageid, $color){
	#{$pageid}{
		.Figcaption{
			background-color: $color !important;
		}
		.Blockquote, .QuoteBlock-Text, .QuoteAndPictureBlock-Text{
			border-left-color: $color !important;
		}
		.SectionMenu-Item:after,
		.StyleSet-Modern .Headline-Title,
		.StyleSet-Modern .Headline-Title,
		.slick-prev:before, .slick-next:before,
		.slick-dots li.slick-active button:before{
			color: $color !important;
		}
	}

}


//main
@include colormix("body",$color-primary);
@include colormix("#sfi-today",$red);
@include colormix("#uchyoba-v-sfi",$blue);
@include colormix("#nauchnie-proekti",$green);
@include colormix("#prosveshenie-i-dialog",$violet);