{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}


<f:section name="tab">
	<div class="ExhibitionSectionTabAnchor">
		<f:if condition="{image}">
			<div class="ExhibitionSectionTabAnchor-Image">
				<media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{imageMaximumWidth}" maximumHeight="{imageMaximumHeight}" allowCropping="TRUE" />
			</div>
		</f:if>
		<div class="ExhibitionSectionTabAnchor-Title">
			{title -> f:format.raw()}
		</div>
	</div>
</f:section>

<f:section name="accordion">
	<div class="ExhibitionSectionAccordionAnchor">
		<div class="row">
			<div class="small-4 columns">
				<f:if condition="{image}">
					<div class="ExhibitionSectionAccordionAnchor-Image">
						<media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{anchorImageMaximumWidth}" maximumHeight="{anchorImageMaximumHeight}" allowCropping="TRUE" />
					</div>
				</f:if>
			</div>
			<div class="small-8 columns" style="padding-left:0">
				<div class="ExhibitionSectionAccordionAnchor-Title">
					{title -> f:format.raw()}
				</div>
			</div>
		</div>
	</div>
</f:section>

<f:section name="panel">
	<div class="ExhibitionSectionPanel">
		{content -> f:format.raw()}
	</div>
</f:section>