{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<div class="QuoteBlock">
	<div class="overflow-hidden">
		<div class="float-left">
			<div class="QuoteBlock-Image">
				<media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" />
			</div>
		</div>
		<div class="QuoteBlock-SourceWrap">
			<div class="QuoteBlock-AuthorName">
				{neos:contentElement.editable(property: 'authorName')}
			</div>
			<div class="QuoteBlock-AuthorDescription">
				{neos:contentElement.editable(property: 'authorDescription')}
			</div>
		</div>
	</div>
	<div class="QuoteBlock-Text">
		{neos:contentElement.editable(property: 'text')}		
	</div>
</div>