{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}


<f:section name="tab">
	<div class="TrusteeSectionTabAnchor">
		<f:if condition="{image}">
			<div class="TrusteeSectionAnchor-Image">
				<media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{imageMaximumWidth}" maximumHeight="{imageMaximumHeight}" allowCropping="TRUE" />
			</div>
		</f:if>
	</div>
</f:section>

<f:section name="accordion">
	<div class="TrusteeSectionAccordionAnchor">
		<div class="row">
			<div class="small-4 columns">
				<f:if condition="{anchorImage}">
					<div class="TrusteeSectionAnchor-Image">
						<media:image asset="{anchorImage}" alt="{alternativeText}" title="{title}" maximumWidth="{anchorImageMaximumWidth}" maximumHeight="{anchorImageMaximumHeight}" allowCropping="TRUE" />
					</div>
				</f:if>
			</div>
			<div class="small-8 columns" style="padding-left:0">
				<div class="TrusteeSectionAnchor-Title color-section">
					{title -> f:format.raw()}
				</div>
				<div class="TrusteeSectionAnchor-SubTitle">
					{subTitle -> f:format.raw()}
				</div>
			</div>
		</div>
	</div>
</f:section>

<f:section name="panel">
	<div class="TrusteeSectionPanel">
		{content -> f:format.raw()}
	</div>
</f:section>