<footer class="Footer">
	<div class="row">
		<div class="columns medium-6 columns">
			<div class="Footer-SiteLogo"><f:render partial="Svg/SiteLogo"/></div>
			<p class="Footer-Description">Свято-Филаретовский православно-христианский институт — независимое высшее богословское учебное заведение, церковная школа, сохраняющая светский статус. В нашем институте два факультета. Богословский факультет открыт для всех, кто всерьез задается вопросом, как быть христианином в современном мире. Факультет религоведения — это пространство свободного межконфессионального, межрелигиозного и церковно-общественного диалога. При институте также работает Богословский колледж.</p>
		</div>
		<div class="columns medium-6 columns">
			<a class="Button" href="http://archive.sfi.ru/svedenija-ob-sfi/dokumenty/">Все документы</a>
			<a class="Button" href="http://archive.sfi.ru/contacts/">Связаться с нами</a>

		</div>
	</div>
</footer>
{content.footerGallery -> f:format.raw()}