.Article{
	margin-top: 2*$u;

	.Figure figcaption{
		background: $gray-bg--light;
		color: $gray--dark;
	}
}
.Article-Category{
	@extend .H4;
	color: $color-primary;
	margin-bottom: 0;
}
.Article-Title{
	@extend .H1Alt;
	margin-top: 0;
	margin-bottom: 0;
}

.Article-Bar{
}
.Article-Date{
	@extend .ParagraphAlt--Small;
	color: $color-primary;	
}
.Article-Author{
	@extend .ParagraphAlt--Small;
	color: $color-primary;
}

.Article-Teaser{
	@extend .H4Alt;
	text-align: center;
	margin-bottom: 1.5*$u;
}
.Article-Lead{
	@extend .Paragraph--Large;
}

.Article-CoverPhoto{
	margin: 2*$u 0;
}
.Article-Gallery{}