

.Footer{
	background: $gray--dark;
	margin-top: 3*$u;
}

.Footer-SiteTitle{
	@extend .Paragraph--Large;
	text-align: left !important;
	color: white;
}

.Footer-SiteLogo{
	overflow: hidden;
	padding: 2*$u 0;
	svg.SiteLogo{
		path{
  			fill: white !important;
		}
	}
}

.Footer-Description{
	@extend .ParagraphAlt--Small;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 2*$u;
	color: $gray-bg;
}









.FooterGallery{
	margin: 0 !important;
}
.FooterGallery .Figure{
	display: block;
	margin: 0;
}
.FooterGallery-Item{
	padding: 0 !important;
}