.Header{
	border-top: 5px solid $color-primary;
}

.Header-Wrap{
	position: relative;
	overflow: auto;
}

.Header-Logo{
}
@media #{$large-up}{
	.Header-Logo{
		width: 400px;
	}
}
.Header-Menu{
	position: absolute; 
	right: 0; 
	top: 0;
}

.Header-AdditionalInfo{
	overflow: auto;
	font-size: rem-calc(13);
	text-decoration: underline;
}
@media #{$medium-up}{
	.Header-AdditionalInfo{
		font-size: rem-calc(14);
	}
}
.Header-AdditionalInfo > *{
	float: left;
	width: 50%;
	//Dirty
	li,p{
		margin: $u/2 0;
	}
}
.Header-AdditionalInfo > *:nth-child(2){
	padding-left: 9px;
}